.products {
  background-color: yellow;
  height: 630px;
  width: 470px;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.new_product {
  background-color:mediumpurple;
  margin: 10px;
  border-radius: 10px;
  width: 700px;
  height: 130px;
  justify-content: center;
  margin: 0 auto;
  
}




